<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= link_to @review.user.name, @review.user %>
</p>

<p>
  <b>Overall rating:</b>
  <%= @review.overall_rating %>
</p>

<p>
  <b>Comment:</b>
  <%= @review.comment %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %>
<%= link_to("Delete", @review, :method => :delete, :confirm => "Are you sure?") %>