<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @review.user_id %>
</p>

<p>
  <b>Overall rating:</b>
  <%= @review.overall_rating %>
</p>

<p>
  <b>Comment:</b>
  <%= @review.comment %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %>
